.App {
  text-align: center;

}
.btn-group{
margin: 1em;
 box-sizing: border-box;
 width: 300px;

}
.select-cm-btn{
  display: flex;
  justify-content:space-around;
  padding-top: 1em;
}

.navbar button.btn {
  margin: 5px;
  border-radius: 50%;border: 0ch;
}
.mode-select span{
  margin: 10px;
}
.show {
  display: none;
}
.navbar{
  border-bottom: 3px solid orangered;
}
.colordiv{
  color: blue;
}